<!-- DIRECTIVA FOR -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intro a Vue</title>
</head>
<body>
    <div id="app">
        
        <div v-if = "show"> <!-- Estamos llamando a message.show -->
            {{ message }} <!-- data binding en los 2 lados -->
            <img :src="image"/>                                             
        <p v-for="member in members">{{member}}</p> 
        
        <br>
        <br>

        <p v-for="memberName in membersObject">{{memberName.name}}</p>
        

         <!--Truco porque al haber doble binding si no decimos la key, no se puede modificar desde front--> 
        <p v-for="(memberName, index) in membersObject" :key="index">{{memberName.name}}</p>
        </div>
        <button @click = "cucuTras()"> Cucu / Tras </button> 
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
   <script src="./little.js"></script>
</body>
</html>